[user]
    name = {{ .git.name }}
    email = {{ .git.email }}

[core]
    editor = nvim
    autocrlf = input

[pull]
    rebase = false

[init]
    defaultBranch = main

[push]
    autoSetupRemote = true

[credential]
{{- if eq .chezmoi.os "windows" }}
    helper = manager
{{- else if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else }}
    helper = store
{{- end }}
    useHttpPath = true

[url "git@github.com:"]
    insteadOf = https://github.com/
[url "git@ssh.gitgud.io:"]
    insteadOf = https://gitgud.io/
[url "ssh://git@git.digitalmisfit.net:10022/"]
    insteadOf = https://git.digitalmisfit.net/
