{{ if eq .chezmoi.os "windows" -}}
$ErrorActionPreference = "Stop"

# Ensure mise exists
if (-not (Get-Command mise -ErrorAction SilentlyContinue)) {
    winget install --id jdx.mise --exact --accept-package-agreements --accept-source-agreements
}

# Ensure chezmoi exists
if (-not (Get-Command chezmoi -ErrorAction SilentlyContinue)) {
    winget install --id twpayne.chezmoi --exact --accept-package-agreements --accept-source-agreements
}

# Ensure age exists
if (-not (Get-Command age -ErrorAction SilentlyContinue)) {
    winget install --id FiloSottile.age --exact --accept-package-agreements --accept-source-agreements
}

mise install
{{ end -}}
