{{- $profile := get . "profile" | default "home" -}}
Anthropic.claude-code
akamud.vscode-theme-onedark
avidAnson.vscode-markdownlint
ms-vscode-remote.remote-ssh
ms-vscode-remote.remote-ssh-edit
ms-vscode.remote-explorer
pkief.material-icon-theme
ms-vscode.powershell
romantomjak.go-template
vscodevim.vim
{{- if eq $profile "home" }}
github.vscode-github-actions
openai.chatgpt
{{- end }}
