{
  // --- Core ---
  {{- if eq .chezmoi.os "windows" }}
  "window.restoreFullscreen": false,
  "window.newWindowDimensions": "inherit",
  {{- else if eq .chezmoi.os "darwin" }}
  "window.restoreFullscreen": true,
  "window.newWindowDimensions": "fullscreen",
  {{- end }}
  "workbench.startupEditor": "none",
  "security.workspace.trust.untrustedFiles": "prompt",

  // --- Theme ---
  "workbench.colorTheme": "Atom One Dark",
  "workbench.iconTheme": "material-icon-theme",

  // --- Editor ---
  "editor.fontFamily": "FiraCode Nerd Font, Monaco, 'Courier New', monospace",
  {{- if eq .chezmoi.os "windows" }}
  "editor.fontSize": 16,
  {{- else if eq .chezmoi.os "darwin" }}
  "editor.fontSize": 14,
  {{- end }}
  "editor.fontLigatures": true,
  "editor.minimap.enabled": false,
  "editor.renderWhitespace": "boundary",
  "editor.formatOnSave": true,
  "editor.stickyScroll.enabled": false,

  // --- Layout / Focus ---
  "workbench.editor.enablePreview": false,
  "workbench.editor.showTabs": "multiple",
  "workbench.activityBar.location": "top",
  "workbench.panel.defaultLocation": "bottom",

  // --- Terminal ---
  "terminal.integrated.defaultProfile.osx": "zsh",
  "terminal.integrated.defaultProfile.windows": "pwsh",
  "terminal.integrated.tabs.enabled": true,
  "terminal.integrated.defaultLocation": "editor",
  "terminal.integrated.tabs.hideCondition": "singleTerminal",
  "terminal.integrated.fontFamily": "MesloLGS Nerd Font",
  {{- if eq .chezmoi.os "windows" }}
  "terminal.integrated.fontSize": 15,
  {{- else if eq .chezmoi.os "darwin" }}
  "terminal.integrated.fontSize": 13,
  {{- end}}

  // --- AI / Chat ---
  "chat.openOnStartup": false,
  "chat.editor.fontSize": 13,
  "chat.progressBorder.enabled": true,
  "chat.persistentProgress.enabled": true,
  "chat.unifiedAgentsBar.enabled": true,
  "chat.viewProgressBadge.enabled": true,
  "chat.viewSessions.orientation": "stacked",

  // --- Vim ---
  "vim.useSystemClipboard": true,
  "vim.hlsearch": true,
  "vim.smartRelativeLine": true,
  "vim.incsearch": true,
  "vim.ignorecase": true,
  "vim.smartcase": true

  // --- Remote ---
  "remote.SSH.remotePlatform": {
    "netctrl": "linux"
  }
}
