{{- $profile := get . "profile" | default "home" -}}
# Global Instructions

@rules/registers.instructions.md

{{- if eq $profile "work" }}
@rules/external-services.instructions.md
@rules/branches.instructions.md
@rules/pull-requests.instructions.md
@rules/jira.instructions.md
@rules/skills.instructions.md
{{- end }}
