{{- $profile := get . "profile" | default "home" -}}
# Global Instructions

@rules/registers.instructions.md

{{- if eq $profile "home" }}
@rules/home/preferences.instructions.md
{{- end }}

{{- if eq $profile "work" }}
@rules/work/external-services.instructions.md
@rules/work/branches.instructions.md
@rules/work/pull-requests.instructions.md
@rules/work/jira.instructions.md
{{- end }}
