[tools]
age = "latest"
bat = "latest"
chezmoi = "latest"
fd = "latest"
fzf = "latest"
jq = "latest"
lazygit = "latest"
lua-language-server = "latest"
neovim = "stable"
node = "{{ dig "node" "version" "lts" . }}"
python = "3.14"
ripgrep = "latest"
stylua = "latest"
tree-sitter = "latest"
yq = "latest"

"npm:@github/copilot" = "latest"
"npm:@openai/codex" = "latest"
"npm:speedtest-net" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:yaml-language-server" = "latest"

{{ if ne .chezmoi.os "windows" }}
atuin = "latest"
eza = "latest"
shellcheck = "latest"
shfmt = "latest"
zoxide = "latest"
{{ end }}
